@model Web.Models.PageModels.ForgotPasswordPage

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>
@using( Html.BeginForm( "ForgotPassword", "Account", FormMethod.Post, new { ReturnUrl = "/" } ) )
{
    @Html.AntiForgeryToken()
    <div>
        @Html.TextBoxFor( x => x.Email, new { @Required = true, @Placeholder = "Email" } )
        @Html.ValidationMessageFor( x => x.Email )
    </div>
    <input type="submit" />
}