@model Web.Models.PageModels.AboutPage

<h1>@Model.PageTitle</h1>
<div>
    @using (Html.BeginForm("About", "Home", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Form.Note)
        @Html.TextBoxFor(m => m.Form.Note)
        <br />
        <input type="submit" value="submit" />
    }
</div>

