<header class="navbar">
    <div class="navbar-inner">
        <div class="row-fluid">
            <div class="span10">
                @Html.ActionLink( "Adam Gooch", "Index", "Home", new { }, new { @id = "site-title-link" } )
            </div>
            <div class="span2">
                <p id="username" class="pull-right">@ViewBag.Username</p>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <ul class="nav">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
