<img src="/assets/images/Profile.jpg" alt="Adam" id="profile-pic"/>
<h4>About Me</h4>
<p>
  I am a software developer that loves all kinds of technology. I began building all of my own
  computers to record my music more reliably. When I installed audio video systems, the work the
  programmer was doing caught my eye. I started programming AV systems as a result. That led me
  to the software industry where I have enjoyed learning many languages and technologies.
</p>
<p>
  The security perspective of software has held my interest for years. I love talking, learning,
  and writing about Internet security. It doesn't come from a desire to become a security expert,
  but a desire to write secure software.
</p>
<p>
  I have many hobbies, and like many others, have the challenge of choosing between them. Music,
  technology, theme parks, gaming, and spending time with my family are just a few of the things
  I enjoy spending my time on.
</p>
<h4>Older Posts</h4>
@if( Model.AllPosts != null )
{
  foreach( var post in Model.AllPosts )
  {
    <div>
      @Html.ActionLink( 
        string.Format( "{0} - {1}", (string)@post.Date.ToString( "MM/dd/yyyy" ), (string)@post.Title ),
        "ShowPost",
        "Blog",
        new { @author = (string)@post.Author, @blogTitle = (string)@post.Title },
        new {}
      )
    </div>
  }
}